# Hugo
/.hugo_build.lock
/assets/jsconfig.json
/public/
/resources/_gen/
hugo_stats.json
hugo.darwin
hugo.exe
hugo.linux

# Misc
._*
.cache
.direnv/
.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
*.lock
*.log
*.swp
*~
/result
/result-*
ehthumbs.db
Thumbs.db
