<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        <img src="images/cambiomed-logo.svg" alt="CAMBioMed Logo" class="logo" style="width:100%" />
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .buttons }}
            <ul class="actions">
            {{ range . }}
                <li style="display: inline-block"><a href="{{ .link }}" class="button {{ .class }} smooth-scroll">{{ .label }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <figure>
            <img src="{{.url}}" alt="{{.alt}}" />
            {{ with .copyright }}
            <figcaption>{{.}}</figcaption>
            {{ end }}
        </figure>
    </div>{{end}}
</section>