<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        <img src="images/cambiomed-logo.svg" alt="CAMBioMed Logo" class="logo" style="width:100%" />
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .buttons }}
            <ul class="actions">
            {{ range . }}
                <li><a href="{{ .link }}" class="button {{ .class }} large wide smooth-scroll">{{ .label }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
    </div>
    {{ with .image }}<div class="image">
        <figure>
            <img src="{{.}}" alt="CAMBioMed" />
            <figcaption>&copy; Laura Tamburello</figcaption>
        </figure>
    </div>{{end}}
</section>