
<section>
    <div class="image">
        <img src="{{ .photo }}" alt="" width="100%" class="person-image" data-modal-id="person-modal-{{ .name | urlize }}" style="cursor:pointer;"/>
    </div>
    <h3>{{ .name }}</h3>
    <div id="person-modal-{{ .name | urlize }}" style="display:none;">
        <div class="image">
            <img src="{{ .photo }}" alt="" width="100%"/>
        </div>
        <h3>{{ .name }}</h3>
        <p>{{ .bio | safeHTML }}</p>
        {{ with .links }}{{ partial "socials" . }}{{ end }}
    </div>
</section>