{{ define "main" }}

	{{ partial "banner" site.Data._1banner }}
	{{ partial "spotlight" site.Data._2context }}
	{{ partial "spotlight" site.Data._3mainobjectives }}
	{{ partial "spotlight" site.Data._4mainactivities }}
	{{ partial "people" site.Data._5people }}
	{{ partial "spotlight" site.Data._6resources }}
	<!-- {{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "items" site.Data.items }}
	{{ partial "elements" . }}
	{{ partial "elements_reference" . }} -->
	{{ partial "footer" . }}

{{ end }}